.intro {
  display: flex;
  height: 77vh;
  margin-top: 6rem;
  color: white;
  margin-left: 4rem;
}

.i-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
}

.i-name {
  display: flex;
  flex-direction: column;
}

.i-name > :nth-child(1) {
  color: #f5c32c;
  font-weight: bold;
  font-size: 3rem;
}

.i-name > :nth-child(2) {
  font-weight: bold;
  font-size: 1.2rem;
}

.i-name > :nth-child(3) {
  margin-top: 10px;
  font-size: 1.3rem;
}

.i-icons {
  margin: 1.4rem 0 0 2rem;
  display: flex;
  gap: 0rem;
  font-size: 3rem;
}

a {
  color: white;
  margin-left: 1rem;
  transition: all 1s;
}

a:hover {
  color: #f5c32c;
  transition: all 1s;
}

.i-right {
  flex: 1;
  position: relative;
}

.i-right > * {
  position: absolute;
  z-index: 1;
}

.i-right > :nth-child(1) {
  transform: scale(0.8);
  left: 20%;
  top: -16%;
}
